#container {
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    position: relative; /* Ensures the pseudo-elements are positioned properly */
}
#red{
	color: red;
	font-size: 25px;
}
